.grid {
  display: flex;
  border: solid black 1px;
  width: 180px;
  height: 180px;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.ending-block {
  background-color: red;
}

.starting-block {
  background-color: blue;
}

.frog {
  background-color: green;
}

.l1,
.l2,
.l3 {
  background-color: brown;
}

.l4,
.l5 {
  background-color: lightblue;
}

.c1 {
  background-color: black;
}

.c2,
.c3 {
  background-color: lightgrey;
}
