* {
  margin: 0;
  padding: 0;
}
#game {
  width: 600px;
  height: 350px;
  border: 1px solid #000;
  margin: 0 auto;
  background-image: url("img/bg2.jpg");
  background-size: 600px auto;
  animation: move-sc infinite linear;
  /* animation-duration: 1.7s; */
}

#dinosaur {
  width: 130px;
  height: 100px;
  background-image: url("img/t-rex.png");
  background-size: 150px auto;
  position: relative;
  top: 190px;
  left: 50px;
}

#cactus {
  width: 39px;
  height: 60px;
  background-image: url("img/cactus.png");
  background-size: auto 60px;
  position: relative;
  top: 130px;
  left: 600px;
  animation: cactus-move infinite linear;
  /* animation-duration:  1.75s; */
}


@keyframes move-sc {
  0% {
    background-position: 600px 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes cactus-move {
    0% {
      left: 600px;
    }
    100% {
      left: -20px;
    }
  }
